{% extends 'ratings/base.html' %}


{% block content %}
<head>
<title>feHelix: Home Page</title>
</head>

    <h1>Speak your mind with feHelix!</h1>
    <p>feHelix is an interactive catalog of bioinformatics tools. Please browse the tool categories to explore the tools within the category or offer feedback about tools you have used in your own research. </p>
    
    <p><h1><a href="categories">Browse tool categories</h1></a></p>
    <p><h3><a href="nominate_category">Nominate a new category</h3></a></p>
    <p><h3><a href="nominate_tool">Nominate a new tool</h3></a></p>
    
    <p><h3>Top five highest rated tools</h3></p>
    {% for hightool in hightools %}
        <div class = "tool">
            <p>Tool Name: <a href = "/tool/{{ hightool.name }}">{{ hightool.name }}</a><br>
            Overall Rating: {{ hightool.overall_rating|floatformat:"2" }} // Documentation Quality: {{ hightool.qual_of_doc|floatformat:"2" }} // Efficacy: {{ hightool.efficacy|floatformat:"2" }} // Usability: {{ hightool.usability|floatformat:"2" }}
            </p>
        </div>
    {% endfor %}
    
    <p><h3>Latest five ratings</h3></p>
    {% for newvote in newvotes %}
        <div class = "vote">
            <p>Tool Name: <a href = "/tool/{{ newvote.tool_id }}">{{ newvote.tool_id }}</a><br>
            Review Date: {{ newvote.review_date }} <br>
            Overall Rating: {{ newvote.overall_rating|floatformat:"2" }} // Documentation Quality: {{ newvote.qual_of_doc|floatformat:"2" }} // Efficacy: {{ newvote.efficacy|floatformat:"2" }} // Usability: {{ newvote.usability|floatformat:"2" }}
            {% if newvote.comment %}<br>{{ newvote.comment }}{% endif %}</p>
        </div>
    {% endfor %}
{% endblock %}
